@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="LivrariaSorocabaController as vm" id="LivrariaSorocabaController">
    <div ui-view name="main" autoscroll="false"></div>
</div>